<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Publicaciones Guardadas</title>
        <link rel="stylesheet" href="static/emprendimiento/vendors/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="static/emprendimiento/vendors/fontawesome/css/all.min.css">
	    <link rel="stylesheet" href="static/emprendimiento/vendors/themify-icons/themify-icons.css">
	    <link rel="stylesheet" href="static/emprendimiento/vendors/linericon/style.css">
        <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.theme.default.min.css">
        <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="static/emprendimiento/css/style.css">
    <!--==========================Icono de barra==============================================================-->
        <link rel="shortcut icon" href="static/t2/assets/ico/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" href="static/t2/assets/ico/apple-touch-icon.png" />
    <!--==========================Icono de barra==============================================================-->
        <style>
            .btn-link {
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
                color: #0000EE;
                padding: 0;
                text-decoration: underline;
                font-family: inherit;
                font-size: inherit;
            }
        </style>
    </head>
    <body>
<!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                
                <div class="cupon_text d-flex align-items-center">
                    <u1 class="nav-shop">
                    <li class="nav-item"><button style="margin: 3px"><i class="ti-search"></i></button></li> 
                    </u1><br><br>
                    <form action="/busqueda" method="POST">
                        <input type="text" id="busqueda" name="busqueda" style="margin: 5px">
                            <input type="submit" value="buscar" class="button button-header" style="margin-right: 200px">
                    </form>
                </div>

                    <li class="nav-item"><a class="nav-link" href="/InicioInv">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/perfilInversionista">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/guardadosInv">Guardados</a></li>
                </ul>
                <ul class="nav-shop">
                <li class="nav-item"><a class="button button-header" href="/cerrarSesion">Cerrar sesión</a></li>
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!-- ================ start banner area ================= -->	
    <br><br><div class="blog-banner">
        <div class="text-center"><br>
            <h1>Publicaciones Guardadas</h1>
        </div>
    </div>
    <!-- ================ End banner area ================= --> 
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
            <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Emprendimiento</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <!---->
                        <tbody>
                            {%for registro in data%}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/static/images/productos/{{registro[3]}}" width="150" height="150" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{registro[2]}}</p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <h5>{{registro[1]}}</h5>
                                </td>

                                <td>
                                    <form action="/emprendimientoInicioInversionista" method="POST">
                                        <input type="hidden" name="empId" id="empId" value="{{registro[5]}}"> 
                                        <button type="submit" class="button button-paypal">{{registro[4]}}</button>
                                    </form>
                                </td>

                                <td>
                                    <form action="/guardadosInv" method="POST">
                                        <button class="button button-paypal" type="submit" value="Delete"> Borrar</button>
                                        <input type="hidden" name="formId" id="formId" value="2">
                                        <input type="hidden" name="id" id="id" value="{{registro[0]}}">
                                    </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================Area=================-->
    <br><br>
    <br><br>
    <footer class="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Fishing 2020 | An ocean full of great ideas <i class="fa fa-heart" aria-hidden="true"></i> by <a>Fishing</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!--================End=================-->
    </body>
</html>