
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Admin</title>
    
    <script src="/cdn-cgi/apps/head/a2ff1ftsK3yTu21p1BeEN2BZsnA.js"
        type="f8f1dda136a363d9c7d027d6-text/javascript"></script>
    <link href="https://userapp.zyrosite.com/v22/css/chunk-6aa41a9b.890fb738.css" rel="prefetch">
    <link href="https://userapp.zyrosite.com/v22/js/chunk-ed14c39e.2fdf1e15.js" rel="prefetch">
    <link href="https://userapp.zyrosite.com/v22/css/index.d0df688f.css" rel="preload" as="style">
    <link href="https://userapp.zyrosite.com/v22/js/chunk-vendors.e5b654db.js" rel="preload" as="script">
    <link href="https://userapp.zyrosite.com/v22/js/index.7c1a95be.js" rel="preload" as="script">
    <link href="https://userapp.zyrosite.com/v22/css/index.d0df688f.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://userapp.zyrosite.com/v22/css/chunk-308f0bc8.769481cf.css">
    <link rel="stylesheet" type="text/css" href="https://userapp.zyrosite.com/v22/css/chunk-6aa41a9b.890fb738.css">
    
    
    
    
    
    <title>Fishing </title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="{{url_for("static", filename="css/styles.css")}}" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/heading.css")}}">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/body.css")}}">
    <link rel="stylesheet" media="all" href="static/css/styles.css" />
    <!--==========================Estilo en general==============================================================-->
    <link rel="stylesheet" href="static/emprendimiento/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/linericon/style.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/emprendimiento/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="static/emprendimiento/css/style.css">
    <!--==========================Icono de barra==============================================================-->
	<link rel="shortcut icon" href="static/t2/assets/ico/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" href="static/t2/assets/ico/apple-touch-icon.png" />
<!--==========================Icono de barra==============================================================-->

</head>

<body>
<!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                    <li class="nav-item"><a class="nav-link">FISHING | An ocean full of great ideas</a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                </ul>
                <ul class="nav-shop">
                <li class="nav-item"><a class="button button-header" href="/cerrarSesion">Cerrar sesión</a></li>
                </ul>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <br><br>
    <div class="text-center">
        <h1>Bienvenido {{usuario}}</h1>
    </div>
    <br><br>
    <section id="categorias" data-v-3034ef23="" data-v-6e771e90="" class="block"
        style="--background-color:#f0f1f2; --rows:1; --width:1224px; --m-rows:27; --row-gap:16px; --row-size:48px; --column-gap:24px; --grid-width:1224px; --column-count:12; --block-padding:16px 0; --content-width:1400px; --content-padding:16px; --m-block-padding:16px 16px 16px 16px;">
        <div data-v-2d433d70="" data-v-3034ef23="" class="background"
            style="--margin-top:0; --background:#f0f1f2;">
        </div>
        <div data-v-aee9c18e="" data-v-3034ef23="" class="block-grid" id="block2">
            <div data-v-145bd417="" data-v-aee9c18e="" class="block-grid-item use-m-margin grid__item"
                style="--align:flex-start; --justify:flex-start; --position:5/3/8/5; --object-fit:cover; --m-element-margin:0 0 16px 0; --element-z-index:1;">
            </div>
            <div data-v-145bd417="" data-v-aee9c18e="" class="block-grid-item use-m-margin grid__item"
                style="--text:center; --align:center; --justify:center; --position:2/6/5/12; --m-element-margin:0 0 10px 0; --element-z-index:2;">
                <div data-v-7bee0ff6="" data-v-145bd417="" class="text-box" id="massagesText0">
                    <h3 class="masthead-heading mb-0">¿A qué tabla deseas ir?</h3>
                        <!-- Icon Divider-->
                        <div class="divider-custom divider-secondary">
                            <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-fish"></i></div>
                                    <div class="divider-custom-line">
                                    </div>
                                </div>
                            </div>
                            <div align="center">
                                <br>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/inversionistaAdmin"><span style="color: white"><i class="far fa-user-circle" style="color: white;width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/inversionistaAdmin"><span style="color: white">Inversionista</span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/emprendedorAdmin"><span style="color: white"><i class="fas fa-user-circle" style="color: white; width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/emprendedorAdmin"><span style="color: white">Emprendedor</span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/productosAdmin"><span style="color: white"><i class="fas fa-shopping-basket" style="color: white; width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/productosAdmin"><span style="color: white">Producto</span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/fundadoresAdmin"><span style="color: white"><i class="far fa-lightbulb" style=" color: white; width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/fundadoresAdmin"><span style="color: white">Fundador</span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/EmprendimientoAdmin"><span style="color: white"><i class="fas fa-hand-holding-usd" style=" color: white; width:70px;height:70px" 
                                            align="top"></i></a>
                                    </div>
                                    <a href="/EmprendimientoAdmin"><span style="color: white" ><font size="2">Emprendimiento</font></span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/categoriaAdmin"><span style="color: white"><i class="far fa-bookmark" style="color:white; width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/categoriaAdmin"><span style="color: white">Categoría</span></a>
                                </button>
                                <button class="shareButton main" onclick="/inversionistaAdmin">
                                    <div><a href="/agregarAdmin"><span style="color: white"><i class="fas fa-user-cog" style="color: white; width:70px;height:70px" 
                                            align="center"></i></a>
                                    </div>
                                    <a href="/agregarAdmin"><span style="color: white">Administrador</span></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

</body>
<div class="footer-bottom">
    <div class="container">
        <div class="row d-flex">
            <p class="col-lg-12 footer-text text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Fishing 2020 | An ocean full of great ideas <i class="fa fa-heart" aria-hidden="true"></i> by <a>Fishing</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</div>


</html>