<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fishing | Registro</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="static/t2/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/t2/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/t2/assets/css/form-elements.css">
    <link rel="stylesheet" href="static/t2/assets/css/style.css">
    <link rel="stylesheet" href="static/css/main.css">

    <!--==========================Icono de barra==============================================================-->
	<link rel="shortcut icon" href="static/t2/assets/ico/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="114x114" href="static/t2/assets/ico/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="static/t2/assets/ico/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="static/t2/assets/ico/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" href="static/t2/assets/ico/apple-touch-icon.png" />
    <!--==========================Icono de barra==============================================================-->

</head>

<body>
    <div class="container-login100">

    <!-- Top menu -->
        <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#top-navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Registro inversionista</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="top-navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="li-text" style="color: witw">
                                ¿No buscas invertir? Registra tu idea de negocios
                            </span>
                            <a href="/signUpEmprendedor" style="color:  #2a3d5b"><strong>aquí</strong></a>
                            <span class="li-text">


                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Únete a <strong style="color: #2a3d5b">Fishing</strong> hoy</h1>
                        <div class="description">
                            <p>
                                An ocean full of great ideas
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                        <form role="form" action="" method="post" class="f1" enctype="multipart/form-data">

                            <h3>Inversionista</h3>
                            <p style="color: red">{{ errorMessage }}</p>
                            <div class="f1-steps">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="2"
                                        style="width: 16.66%;"></div>
                                </div>
                                <div class="f1-step active">
                                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                                    <p>Cuenta</p>
                                </div>
                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Datos personales</p>
                                </div>

                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                                    <p>Preferencias</p>
                                </div>
                            </div>
                            <fieldset>
                                <br>
                                <h4>Configura tu cuenta:</h4><br>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Nombre de Usuario</label>
                                    Usuario:<br>
                                    <input type="text" name="user" class="f1-last-name form-control" id="user">
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="f1-password">Contrasenia</label>
                                    Contraseña:<br>
                                    <input type="password" name="password" class="f1-password form-control" id="password">
                                </div>
                                <!--
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                        <input type="password" name="f1-repeat-password" placeholder="Repeat password..." 
                                                            class="f1-repeat-password form-control" id="f1-repeat-password">
                                    </div>
                                    -->
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">Siguiente</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <br>
                                <h4>Dinos quién eres:</h4><br>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-first-name">Nombre</label>
                                    Nombre:<br>
                                    <input type="text" name="nombre" 
                                        class="f1-first-name form-control" id="nombre" required pattern="[A-Za-z\s]+" title="Por favor, utilice unicamente letras">
                                </div>
                                <div class="form-group">
                                    Seleccione una foto de perfil:
                                    <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
                                </div>
                                <div class="form-group">
                                    Email: <br>
                                    <label class="sr-only" for="f1-email">Email</label>
                                    <input type="email" name="email" class="f1-email form-control"
                                        id="email" required maxlength="150">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Pais</label>
                                    País: <br>
                                    <input type="text" name="country" class="f1-last-name form-control"
                                        id="country" pattern="[A-Za-z\s]+" title="Por favor, utilice unicamente letras" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Ciudad</label>
                                    Ciudad: <br>
                                    <input type="text" name="city" class="f1-last-name form-control"
                                        id="city" pattern="[A-Za-z\s]+" title="Por favor, utilice unicamente letras" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-about-yourself">Biografia</label>
                                    Biografía: <br>
                                    <textarea name="bio" placeholder="Cuéntanos un poco sobre ti" class="f1-about-yourself form-control"
                                        id="bio" required maxlength="200"></textarea>
                                </div>

                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Anterior</button>
                                    <button type="button" class="btn btn-next">Siguiente</button>
                                </div>
                            </fieldset>


                            <fieldset>
                                <br>
                                <h4>Tus temas de interés:</h4><br>
                                {% for cat in categorias %}
                                    <input type="checkbox" name="{{cat["id"]}}" value="{{cat["id"]}}">
                                    <label for="{{cat["id"]}}">{{cat["categoria"]}}</label><br>
                                {% endfor %}
                                <div class="form-group">

                                    <div class="f1-buttons">
                                        <button type="button" class="btn btn-previous">Anterior</button>
                                        <button type="submit" class="btn btn-submit">Crear cuenta</button>
                                    </div>
                            </fieldset>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- Javascript -->
        <script src="static/t2/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/t2/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/t2/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/t2/assets/js/retina-1.1.0.min.js"></script>
        <script src="static/t2/assets/js/script.js"></script>

        <!--[if lt IE 10]>
                <script src="assets/js/placeholder.js"></script>
            <![endif]-->
        </div>
    </div>
</body>

</html>